[Unit]
Description=MOSAIC RTC Service
After=network.target

[Service]
Type=simple
ExecStart=/bin/bash -c '/srv/mosaic-5g/controller/build/rt_controller $(cat /srv/mosaic-5g/.exec_args) > /srv/rtc.out 2> /srv/rtc.err'

[Install]
WantedBy=multi-user.target
Alias=rtcd.service
