.node {
    cursor: pointer;
    font-family: Arial;
    text-anchor: middle;
    font-size: 10px;
}

/* .node .graph rect { */
/*     stroke: black; */
/*     fill: green; */
/*     opacity: 0.8; */
/* } */

.node .graph circle {
    fill:  green;
    opacity: 0.33;
}

.below, .above, .middle {
    text-anchor: middle;
}

.link {
    font-family: Arial;
    font-size: 10px;
}

.link line {
    opacity: 0.33;
    stroke: green;
    stroke-width: 2;
}
