body {
    /* background: rgb(217,241,255); */
    background: rgb(141,221,255);
    font: 12px sans-serif;
}
.log {
    white-space: nowrap;
    box-sizing: border-box;
    font-family: monospace;
    line-height: 1.2em;
    overflow: scroll;
    /* height: 40em; */
    width: 100%;
    padding: 4px;
    border: 4px inset rgb(141,221,255);
    background: rgb(217,241,255);
}

.log p {
    margin: 0;
    min-height: 1.2em;
}

table {
    /* border-collapse: collapse; */
    background: rgb(217,241,255);
    line-height: 1.2em;
    font-size: 80%;
}
td {
    white-space: nowrap;
}

.tab.topology {
    background: transparent;
    position: relative;
    padding: 0;
    border: none;
}

#topology {
    position: relative;
    /* width: 100%; */
    /* height: 100%; */
    /* flex-grow: 2; */
    box-sizing: border-box;
    /* border: 2px solid rgb(141,221,255); */
    background: rgb(217,241,255);
    overflow: hidden;
    flex: 1 0 auto;
}
#parameters {
    flex: 0 0 auto;
    border-left: 2px solid transparent;
    padding-right: 0.5em;
    overflow-y: auto;
    overflow-x: hidden;
}
#methods {
    position: absolute;
    background: rgb(217,241,255);
    left: 0;
    top: 0;
    flex: 0 0 auto;
    margin: 10px;
    max-width: 50%;
    align-self: flex-start;
    box-shadow: 2px 2px 2px 2px #888888;
}
#methods .application {
    padding-bottom: 3px;
}
#methods .application > .name {
    font-weight: bold;
    text-align: center;
}

#methods .application .control {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    flex: 0 0 auto;
}
#methods .application .command {
    box-sizing: border-box;
    margin: 2px;
    border: 2px solid #F2F1F0;
    border-style: outset;
    border-radius: 0.4em;
    padding: 4px;
    min-height: 50px;
    flex: 1 0 auto;
    /* background: white; */
}

#methods .application .button {
    height: 100%;
    width: 100%;
    text-align: center;
}
#methods .application .button::after {
    display: block;
    font-size: 200%;
}
#methods .application .button.ok::after {
    content: '\2714';
    color: green;
}
#methods .application .button.fail::after {
    content: '\2716';
    color: red;
}
/* command failed, but this is still last succeeded one */
#methods .application .button.ok.fail::after {
    content: '\2714 (\2716)';
    color: red;
}
#methods .application .button.ok.notified::after {
    content: '\2714';
    color: blue;
}

#mainMenu {
    background: #333333;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 1em;
}
/* Show links within menubar with menubar colors */
ul.menubar a {
    /* background: #333333; */
    color: black;
    text-decoration: none;
}

ul.tabsbar > li {
    width: 10em;
}
ul.tabsbar > li .control {
    display: inline-block;
    position: absolute;
    font-size: 80%;
    text-align: right;
    top: 0.2em;
    right: 0.2em;
}

ul.tabsbar > li .bullet {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    margin-bottom: -0.2em;
    border-radius: 50%;
}
ul.tabsbar > li.done .bullet {
    background: rgb(0,0,0);
}
ul.tabsbar > li.running .bullet {
    background: rgb(0,255,0);
}
ul.tabsbar > li.starting .bullet {
    background: rgb(255,255,0);
}
ul.tabsbar > li.stopping .bullet {
    background: rgb(255,255,0);
}
ul.tabsbar > li.error .bullet {
    background: rgb(255,0,0);
}

span.control button {
    padding: 0;
}

ul.tabsbar > li .control .runstop:after {
    content: "\25B6";
}
ul.tabsbar > li.running .control .runstop:after {
    content: "\25FC";
}
ul.tabsbar > li.stopping .control .runstop:after {
    content: "\25FC";
}

.error_x {
    fill: red;
}

#edit-task tbody input[type=text],#edit-task tbody textarea {
    width: 100%;
}

.link.control line {
    stroke: red;
    stroke-dasharray: 5;
}

.link.connection line {
    stroke: green;
}
.link.connection.ghost line {
    stroke-dasharray: 5;
}

.node.sma circle {
    fill: rgba(255,0,0,0.2);
    stroke: red;
    stroke-width: 5;
}
.node text.stats {
    text-anchor: start;
}
.node.ghost {
    opacity: 0.5;
}

#parameters:not(.open) {
    display: none;
}

th {
    /* position: relative; */
}

.linepath {
    fill: none;
    stroke-width: 1px;
}

.tick line,.timechart .domain {
    /* stroke-dasharray: 2 2; */
    stroke-width: 0.5px;
    stroke: #ccc;
}
.tick text {
    font-size: 4px;
}
.timechart .linepath {
    stroke-width: 0.5px;
}
.timechart > rect {
    fill: #fff;
    opacity: 0.5;
}
