[Unit]
Description=OAI MME Service
Documentation=https://gitlab.eurecom.fr/oai/openair-cn/wikis/home
After=network.target

[Service]
Type=simple
EnvironmentFile=-/usr/local/etc/oai
ExecStart=/bin/bash -c '/srv/openair-cn/scripts/run_mme > /srv/mme.out 2> /srv/mme.err'

[Install]
WantedBy=multi-user.target
Alias=mmed.service

