[Unit]
Description=OAI SPGW Service
Documentation=https://gitlab.eurecom.fr/oai/openair-cn/wikis/home
After=network.target

[Service]
Type=simple
EnvironmentFile=-/usr/local/etc/oai
ExecStart=/bin/bash -c '/srv/openair-cn/scripts/run_spgw > /srv/spgw.out 2> /srv/spgw.err'

[Install]
WantedBy=multi-user.target
Alias=spgwd.service
